.container {
  background-image: url("https://i.pinimg.com/736x/2d/90/df/2d90dfcf69b772a9f66b2f2e46aa6420--background-ideas-background-designs.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.cyoteimage {
  position: relative;
  left: 20rem;
}

.col-med-4 {
  display: inline;
}

.row {
  display: flex;
  justify-content: space-between;
}

.char2 {
  display: flex;
  justify-content: flex-end;
}

.headinfo {
  margin-left: 1rem;
}
